/* 
    Document   : custom
    Created on : 15.04.2010, 15:13:49
    Author     : AB
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#header div.head {
  margin: 0.5em 0em;
  padding: 0em 0em;
  height: 5.2em;
  background-color: RGB(255,105,95);
}

#header div.logo {
  float: left;
  position: relative;
  top: 0.5em;
  left: 0.5em;
  margin: 0em;
  padding: 0em;
  font: bold 2em Verdana, Times, serif;
  color: white;
}

#header div.authBar {
  position: relative;
  right: 0.5em;
  top: 0.5em;
  float: right;
  background-color: white;
  padding: 0.5em 0.5em;
  margin: 0em;
  font-size: 10pt
}

#header .authBar ul {
    margin: 0;
    padding: 0;
}

#header .authBar li {
  list-style-type: none;
  display: inline;
  margin: 0em 0.2em;
}

#header .authBar li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#header .authBar li a:hover {
    color: red;
}

#header div.alert {
    position: relative;
    top: 0.7em;
    margin: 0em 20em;
}

#header .alert .success, .notice, .error {
    text-align: center;
}
