/* 
    Document   : main
    Created on : 02.05.2010, 16:10:04
    Author     : AB
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: RGB(255,255,255);
}

