<h1>Listing users</h1>

<table class = "container">
  <tr>
    <th>name</th>
    <th>login</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.login %></td>
    
	<td>
	<% if (user != @current_user) and @current_user %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	<% end %>
	</td>
	<% if can? :destroy, user %>
    <td><%= link_to 'Destroy', profile_destroy_url, :confirm => 'Are you sure?' %></td>
	<% end %>
  </tr>
<% end %>
</table>